html { font-family: sans-serif; color: black; }
body { padding: 0; margin: 0; font-size: 14px; }

p { text-align: justify; margin: 20px 0; line-height: 20px; }

a { text-decoration: none; font-size: 10pt; color: tan;  font-weight: bold; }
a:hover { text-decoration: underline; }

h1 { font-size: 100px; margin: 20px; }

ul { list-style-type: bullet; }
li { padding: 5px; text-align: left; }

pre { font-size: 90%; padding: 20px 0 10px 0; -moz-border-radius: 10px; font-family: courier, monospace; }
code { font-family: courier, monospace; }

