
a { color: #FF5599; }

h1 { font-size: 64px; margin: 20px 0; color: #FF5599; }
h2 { margin-top: 30px; }

pre { background: white; -moz-border-radius: 10px; color: #FF5599; font-weight: bold; padding: 20px 10px 10px 10px; }

.nav { padding: 40px; text-align: left; color: pink; font-size: 32px; }
.nav a { font-size: 90%; color: black; font-variant: small-caps; }
.nav a:hover { color: #FF5599; text-decoration: none; }

.header { height: 220px; padding: 0; font-weight: bold; color: #FF5599; text-align: left; font-size: 20px; }
.header h1 { color: black; }

.footer { padding: 60px 40px 0 0; text-align: left; }

.copyright {
   color: #FF5599; padding: 10px 40px 10px 10px;
   font-family: times; font-weight: bold; font-size: 90%;
   line-height: 150%; text-align: center; 
}

/* SCHEMES */

.page { width: 820px; margin: 0 auto; }

.hued {
  background: #FF5599;
  color: #222;
}
.heud a    { color: #FF5599; }
.heud code { color: #555; }
.hued h1 { color: #FF5599; }
.hued h2 { color: pink; }

.expressive {
  color: #FF5599;
}

.oldtimes {
  font-family: times;
  font-size: 20px;
  color: #FF5599;
  padding: 40px;
}

.oldtimes p { line-height: 130%; }
