body { font-size: 20px; font-family: times; }

p { margin: 0; padding: 0 0 20px 0; }
a { color: #FF5599; }
li,li { text-align: left; }

ul { margin: 0 0 0 10px; list-style-type: bullet; width: 550px; }
li { padding: 5px; text-align: left; font-size: 0.9em; }

h1 { font-size: 64px; margin: 0 0; color: #FF5599; line-height: 1em; }
h2 { margin-top: 30px; }

pre { background: white; -moz-border-radius: 10px; color: #FF5599; font-weight: bold; padding: 20px 10px 10px 10px; }


.page { margin: 0 auto; width: 700px; }

.header {
  text-align: center; height: 260px;
  margin-left: 0; padding: 40px 0 0 0;
  text-align: left;
  background: url(../images/boxing-sm.jpg) top left no-repeat;
}
.header .quote { width: 300px; margin: 20px 0 0 375px; text-align: right; }

.quote { font-size: 0.7em; font-style: italic; font-weight: normal; }
.quote cite { padding-left: 10px; font-style: normal; font-size: 0.9em; text-align: right; }


.title {
  text-align: center;
  margin-left: 0; padding: 20px 0 0;
  text-align: left;
 }
.title h1 { color: #FF5599; font-weight: bold; color: black; padding-bottom: 20px; }


.nav {
   float: left; width: 80px;
   margin: 20px 20px 10px 0; color: pink;
   margin-left: -140px; text-align: right;
}
.nav a { font-size: 1.5em; color: black; font-variant: small-caps; text-align: right; }
.nav a:hover { color: #FF5599; text-decoration: none; }

.main {
  margin: 0; padding: 0 0 20px 0;
}

.hued {
  background: #FF5599;
  color: #222;
}
.heud a    { color: #FF5599; }
.heud code { color: #555; }
.hued h1 { color: #FF5599; }
.hued h2 { color: pink; }

.expressive {
  color: #DD3377;
}

.oldtimes {
  font-family: times;
  vertical-align: top;
}

.oldtimes p { line-height: 130%; }


.copyright {
   font-size: 0.7em;
   color: #FF5599; padding: 30px 10px;
   font-family: times; font-weight: bold;
   line-height: 150%; text-align: left; 
}

.footer { text-align: center; margin-top: 30px; }

